@import "normalize.min.css";

@font-face {
    font-family: 'Skaut Bold';
    src: url("../font/skaut-bold-webfont.eot");
    src: url("../font/skaut-bold-webfont.eot") format( 'embedded-opentype' ),
         url("../font/skaut-bold-webfont.svg") format( 'svg' ),
         url("../font/skaut-bold-webfont.woff") format( 'woff' );
}

@font-face {
    font-family: 'TheMix';
    font-weight: 400;
    src: url("../font/TheMix_LT_400.svg");
    src:
    url("../font/TheMix_LT_400.svg") format( 'svg' ),
    url("../font/TheMix_LT_400.eot") format( 'embedded-opentype' ),
    url("../font/TheMix_LT_400.woff") format( 'woff' );
}
@font-face {
    font-family: 'TheMix';
    font-weight: 400;
    font-style: italic;
    src: url("../font/TheMix_LT_400i.svg");
    src: url("../font/TheMix_LT_400i.eot") format( 'embedded-opentype' ),
    url("../font/TheMix_LT_400i.svg") format( 'svg' ),
    url("../font/TheMix_LT_400i.woff") format( 'woff' );
}

@font-face {
    font-family: 'TheMix';
    font-weight: 700;
    src: url("../font/TheMix_LT_700.svg");
    src: url("../font/TheMix_LT_700.eot") format( 'embedded-opentype' ),
    url("../font/TheMix_LT_700.svg") format( 'svg' ),
    url("../font/TheMix_LT_700.woff") format( 'woff' );
}
@font-face {
    font-family: 'TheMix';
    font-weight: 700;
    font-style: italic;
    src: url("../font/TheMix_LT_700i.svg");
    src: url("../font/TheMix_LT_700i.eot") format( 'embedded-opentype' ),
    url("../font/TheMix_LT_700i.svg") format( 'svg' ),
    url("../font/TheMix_LT_700i.woff") format( 'woff' );
}

body {
    font-family: 'TheMix', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

h1, h2, h3 {
    font-family: 'Skaut Bold', serif;
    font-weight: 700;
}

a {
    color: #255C9E;
}

.content-box {
    background: #F6EBD8 url("../img/SKAUT_logo.svg") no-repeat top center;
    max-width: 440px;
    background-size: 250px auto;
    text-align: center;
    padding: 220px 25px 25px;
    border-radius: 25px;
}

.help-text {
    color: #657F6F;
    font-size: 0.95rem;
}

.alert {
    padding: .5rem;
    color: #fff;
}

.alert--error {
    background-color: #EA614A;
}

.alert--success {
    background-color: #008836;
}

.button {
    background-color: #255C9E;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 0;
    line-height: 1.1;
    font-size: 1rem;
}